:root {
  --vp-c-brand-1: #4a7ba6;
  --vp-c-brand-2: #6e96bc;
  --vp-c-brand-3: #93b2ce;
  --vp-c-brand-soft: #4a7ba624;
  --vp-c-brand-hover: var(--vp-c-brand-2);
  --vp-c-brand-active: var(--vp-c-brand-1);
}

.dark {
  --vp-c-brand-1: #4a7ba6;
  --vp-c-brand-2: #6e96bc;
  --vp-c-brand-3: #93b2ce;
  --vp-c-brand-soft: #4a7ba62e;
  --vp-c-brand-hover: var(--vp-c-brand-2);
  --vp-c-brand-active: var(--vp-c-brand-1);
}
